.clients__section {
    padding-top: 91px;
    padding-bottom: 94px;
}

.clients__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    color: var(--title-text-color);
}

.clients__item {
    list-style: none;
    margin-right: 30px;
}

.clients__item:last-child {
    margin-right: 0px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: color var(--duration) var(--timing-function), border var(--duration) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.clients__logo {
    fill: currentColor;
}