.features__section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {
    list-style: none;
    display: flex;
    margin: -15px;
}

.features__item {
    text-decoration: none;
    margin: 15px;
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.features__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.features__text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
}