.join__item {
    list-style: none;
    margin-right: 10px;
}

.join__item:last-child {
    margin-right: 0px;
}

.join__title {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.join__list {
    display: flex;
    margin-top: 22px;
}

.join__icon {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
}

.join__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--secondary-icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--duration) var(--timing-function);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}